<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>form</title>
<link href="/css/form.css" rel="stylesheet"></link>
</head>
<body>
  <!-- th:replaceを使用して、 ヘッダー用のフラグメントを読込みます -->
  <div th:replace="common :: header_fragment"></div>
	<h1>募集掲示板入力フォーム</h1>
	<form th:action="@{/bbs/confirm}" th:object="${formRequest}" method="post">
		<table>
			<!-- 記入例を薄字で -->
			<tr>
				<th class="cell_title">ユーザー名</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{name}">
				<p th:errors="*{name}" class="error-message"></p>
				</td>
			</tr>
			<!-- 記入例を薄字で -->
			<tr>
				<th class="cell_title">チーム名</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{team}">
				<p th:errors="*{team}" class="error-message"></p>
				</td>
			</tr>
			<!-- カレンダーで選択 -->
			<tr>
				<th class="cell_title">開催日</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{event}">
				<p th:errors="*{event}" class="error-message"></p>
				</td>
			</tr>
			<!-- カレンダーで選択 -->
			<tr>
				<th class="cell_title">募集期日</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{deadline}">
				<p th:errors="*{deadline}" class="error-message"></p>
				</td>
			</tr>
			<!-- プルタブで選択 -->
			<tr>
				<th class="cell_title">エリア</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{area}">
				<p th:errors="*{area}" class="error-message"></p>
				</td>
			</tr>
			<!-- エリアを選択すると候補が出てくる -->
			<tr>
				<th class="cell_title">会場</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{venue}">
				<p th:errors="*{venue}" class="error-message"></p>
				</td>
			</tr>
			<!-- 記入例を薄字で -->
			<tr>
				<th class="cell_title">会費</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{cost}">
				<p th:errors="*{cost}" class="error-message"></p>
				</td>
			</tr>
			<!-- 記入例を薄字で -->
			<tr>
				<th class="cell_title">募集人数</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{capacity}">
				<p th:errors="*{capacity}" class="error-message"></p>
				</td>
			</tr>
			<!-- プルタブで選択 -->
			<tr>
				<th class="cell_title">募集レベル</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{level}">
				<p th:errors="*{level}" class="error-message"></p>
				</td>
			</tr>
			<!-- プルタブで選択 -->
			<tr>
				<th class="cell_title">種類</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{type}">
				<p th:errors="*{type}" class="error-message"></p>
				</td>
			</tr>
			<!-- カレンダーから選択 -->
			<tr>
				<th class="cell_title">本文</th>
				<th class="cell_required"></th>
				<td><textarea name="contents" rows="3" cols="40" th:field="*{text}"></textarea>
				<p th:errors="*{text}" class="error-message"></p>
				</td>
			</tr>
		</table>
		<div class="btn_area_center"><input type="submit" value="確認ページへ" class="btn"></div>>
	</form>
</body>
</html>